@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* web font */
body {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    background: rgb(0, 0, 0);

}

/* //web font  */

/* common style */

.section_width {
    width: 1170px;

    margin: 0 auto;
}

.row {
    display: flex;
}

.btn-box {

    color: rgb(255, 255, 255);

    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 8px 20px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;

}

.info h2 {
    color: rgb(255, 255, 255);

    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin: 12px;

}

.info p {
    color: rgba(255, 255, 255, 0.5);

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}



/* .mains {
    width: 1040px;
    margin: 0 auto;
} */



/* //common style */

.head {
   
 background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);


}

/* nav section start */
#navigation {
    padding: 57px 95px;
}

#navigation .row {
    justify-content: space-between;
    align-items: center;
}

#navigation .row h3 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;

}

#navigation .menu ul.row {
    justify-content: space-between;
    align-items: center;
}

#navigation ul {
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}

#navigation .menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 28px 23px;
    transition: .7s;

}

#navigation .menu ul li:hover {
    border-radius: 46px;

    background: rgb(230, 83, 60);
}

.humberger {
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: none;
}

/* //nav section end */



/* banner section start */

 #banner .row{
    justify-content: space-between;
    align-items: center;
 }
 #banner .banner_content h2 {
    width: 50%;
    color: rgb(255, 255, 255);

    font-size: 60px;
    font-weight: 900;
   margin-bottom: 23px;
   

}

#banner .banner_content p {
     width: 50%;
    color: rgba(255, 255, 255, 0.5);

    font-size: 16px;
    font-weight: 400;
   
    margin-bottom: 28px;


}
#banner .banner_content .btn-box {
   font-size: 25px;
   padding: 12px 25px;
   margin-right: 10px;
}

#banner .banner_img {
    position: relative;
}

#banner .banner_img .banner_box {
    position: absolute;
    z-index: 999;
    left: 55%;
    top: 15%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px 35px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

#banner .banner_img .banner_box h6 {
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 900;
    line-height: 40px;
    text-align: left;
}

#banner .banner_img .banner_box p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

#banner .banner_img .banner_box_two {
    position: absolute;
    z-index: 999;
    bottom: 10%;
    left: -30%;

    box-sizing: border-box;
    padding: 25px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

#banner .banner_img .banner_box_two .round {
    position: absolute;
    z-index: 999;
    bottom: 35%;
    left: 2.5%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(230, 83, 60);

}

#banner .banner_img .banner_box_two h6 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;

}
#banner .banner_img .banner_box_two p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

/* //banner section end */


/* .main {
    width: 1040px;
    margin: 0 auto;
}

 */



/* habbits start */
#habbits {
    margin: 60px;
}
#habbits .habbits_content{
    margin: 50px;
}
#habbits .section_width{
   
}
#habbits .habbits_style .row {

    justify-content: space-between;
  align-items: center;
}

#habbits .habbits_style .habbit {
    text-align: center;
}


#habbits .habbits_style .habbit img {
    border: 3px solid rgba(70, 69, 69, 0.5);
    width: 80%;
    border-radius: 50%;



}

#habbits .habbits_style .habbit h2 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    margin-top: 10px;

}

#habbits .habbits_style .habbit p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
  margin-bottom: 10px;
}

/* //habbits end */

/* run start */
#run .section_width {
    
}

#run .row {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 50px;
   

}
#run .run_content {
    width: 50%;
}

#run .run_content h3 {
    
    color: rgb(255, 255, 255);

    font-size: 65px;
    font-weight: 900;
    line-height: 120%;


}
#run .run_content p {
  
    color: rgba(255, 255, 255, 0.5);

    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 30px;

}

#run .btn-box {
    font-size: 25px;
    padding: 15px 40px;
    margin-right: 10px;
    margin-top: 30px;
}


#run .run_img {
   width: 50%;

}

#run .run_img img {
    border-radius: 18px;
    width: 100%;
    object-fit: none;
    object-position: 66% 33%;
}



/* run end */

/* bmi calc start */
.bmi_calc_content{
    margin: 60px;
   
}
.bmi_calc_content .section_width .info{
   padding-left: 15%;
   
}
.bmi_calc_content .info h2{
    text-align: left;
}
.bmi_calc_content .info p{
   
    text-align: left;
}

#bmi_calc{
    background-color: rgb(34, 34, 34);
}
#bmi_calc .row {
    justify-content: space-between;
    align-items: center;
 
    padding:50px 0px;
}

#bmi_calc .row .bmi_table_chart {
    width: 50%;
    margin-bottom: 50px;
   
}

#bmi_calc .row .bmi_table_chart h2 {
    color: rgb(255, 255, 255);
   
    font-size: 34px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    
   
}

#bmi_calc .row .bmi_table_chart table,
tr,
td,
th {
   width: 50%;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 13px;
    margin-top: 30px;
    
}



#bmi_calc .row .bmi_calculate {
 width: 50%;


}

#bmi_calc .row .bmi_calculate .info h2 {
    color: rgb(255, 255, 255);
 
    font-size: 34px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}

#bmi_calc .row .bmi_calculate .info p {
    color: rgba(255, 255, 255, 0.5);

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-left: 10px;
}


#bmi_calc .row .bmi_calculate .form {
 width: 100%;
    
}

#bmi_calc .row .bmi_calculate .form .input {

 width: 49%;
height: 50px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 6px 10px;
    margin: 8px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 15px;

}

.select {
    width: 99%;
    height: 50px;
    border-radius: 8px;
    padding: 6px 10px;
    margin: 8px 0px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

#bmi_calc .row .bmi_calculate .btn-box {
    font-size: 25px;
    padding: 15px 40px;
    margin-right: 10px;
    margin-top: 15px;
}

/* //bmi calc end */

/* .team_overlay {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;


}

.team_overlay .meet-img {
    position: relative;

}

.team_overlay .meet-img .img {
    width: 326.67px;
    height: 272px;

}

.team_overlay .meet-img .img img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.team_overlay .meet-img .overlay {
    position: absolute;

    left: 0;
    bottom: 0;
    padding: 15px 10px;
}

.team_overlay .meet-img .overlay h3 {
    color: rgba(255, 255, 255, 1);

    font-size: 20px;
    font-weight: 800;
    line-height: 120%
}

.team_overlay .meet-img .overlay p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 120%
} */


/* meet section start */
#meet{
    margin: 60px;
  
    
}
#meet .section_info .info{
   margin: 50px;
}
#meet .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    background-color:rgba(255, 255, 255, 0.1); ;
    border-radius: 18px;
    padding:20px;
}
#meet .row .section_info_img_box {
    position: relative;
}
#meet .row .section_info_img_box img{
    width: 100%;
    height: 100%;
    border-radius: 18px;

}

.overlay {
position: absolute;

left: 0;
bottom: 0;
padding: 15px 10px;
}

.overlay h3 {
color: rgba(255, 255, 255, 1);

font-size: 20px;
font-weight: 800;
line-height: 120%
}

.overlay p {
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
line-height: 120%
} 


/* //meet section end */

/* training start */
#training .row{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap: 20px;
}
#training .row:nth-child(2) {
grid-column: 1/2;
}
#training .row .training_box img{
    width: 100%;
   height: 100%;

}


/*
/* //traing end */






/* footer section start */

#footer{
    margin-top: 88px;
    background: rgba(255, 255, 255, 0.1);

}

#footer .row {
    justify-content: space-around;
    align-items: center;
    padding: 45px 36px;

}

#footer .fitness {
    width: 443px;

}

#footer .fitness h3 {
    color: rgb(230, 83, 60);
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
}

#footer .fitness p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 20px;
}

#footer .service {
    width: 185px;
}

#footer .service h4 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 22px;
}

#footer .service ul {
    list-style-type: none;
}

#footer .service ul li {
    margin-top: 15px;
}

#footer .service ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;

}

#footer .platform {
    width: 185px;
}

#footer .platform h4 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 22px;
}

#footer .platform ul {
    list-style-type: none;
}

#footer .platform ul li {
    margin-top: 15px;
}

#footer .platform ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;


}

hr {
    width: 1075px;
    margin: 0 auto;
}

.fend {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding: 20px;
}



/* footer section end */






@media  (max-width:576px) { 
/* nav section start */

#navigation {
    
    padding: 50px;
}



#navigation .row h3 {
    color: rgb(230, 83, 60);
    font-size: 150px;
  

}


#navigation ul {
display: none;
}



.humberger {
    font-size: 70px;
    display: block;
  
}

/* //nav section end */

}